<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Drone Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <h1 class="center">The Drone Project</h1>
        </div>

        <div class="row">
            <img id="front_indicator" class="center bottom-margin" src="static/Images/Direction Indicator Art.png">
        </div>

        <div class="row">
            <img id="car" class="center top-margin bottom-margin" src="static/Images/car.png">
        </div>

        <div class="row">
            <img id="back_indicator" class="center top-margin bottom-margin" src="static/Images/Direction Indicator Art.png">
        </div>

        <div class="row">
            <img class="center top-margin" src="static/Images/arrowKeys.png" usemap="#image-map">

            <map name="image-map">
                <area target="" alt="LEFT" title="LEFT" onclick="left()" coords="13,218,113,117" shape="rect">
                <area target="" alt="DOWN" title="DOWN" onclick="down()" coords="123,217,217,118" shape="rect">
                <area target="" alt="RIGHT" title="RIGHT" onclick="right()" coords="325,221,229,115" shape="rect">
                <area target="" alt="UP" title="UP" onclick="up()" coords="121,5,219,106" shape="rect">
            </map>
        </div>
    </div>

    <script src="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>