<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <title>The Drone Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/login_styles.css">
    </head>

    <body>
        <!-- <div class="container-fluid">
            <div class="row">
                <h1 class="center">The Drone Project</h1>
            </div>
            <div class="row">

                <div class="input-group mb-3">
                    <div class="row">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">SEED</span>
                          </div>
                          <input type="number" class="form-control" placeholder="SEED Value" aria-label="SEED Value" aria-describedby="basic-addon1">
                    </div>

                    <div class="row">
                        
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">PASSWORD</span>
                        </div>
                        <input type="number" class="form-control" placeholder="PASSWORD" aria-label="PASSWORD" aria-describedby="basic-addon1">
                    </div>
                </div>
                
                
                

            </div>
        </div> -->


        <div class="wrapper fadeInDown">
            <div class="header"></div>
            <div id="formContent">
              <!-- Tabs Titles -->
    
              <!-- Icon -->
              <!-- Login Form -->
              <form>
                <input type="text" id="seed" class="fadeIn second" name="seed" placeholder="Seed">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="submit">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <h2 class="underlineHover" style="margin-top: 0px; margin-bottom: 0px;">By Ziv Caspi</h2>
              </div>
          
            </div>
        </div>
    </body>
</html>